@mixin flexCenter($direction, $bg) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $bg;
}

header{
    @include flexCenter(row, rgb(42, 42, 160));
    button{
        background: $secondary;
        &:hover{
            background: yellow;
        }
        &::after{
            content: "Teste";
        }
    }
    p{
        color: black;
    }
    h1{
        color: purple;
    }
}
